#background{
width:1513px;
height:690px;
margin-top:10px;
}

#yellow{
width:1270px;
height:480px;
margin-top:-880px;
}

#chef{
width:330px;
margin-left:1185px;
margin-top:-930px;
}

#down{
margin-top:-35px;
height:100px;
width:1050px;
}

#down2{
margin-top:-35px;
margin-left:-5px;
height:100px;
width:463px;
}

#main2{
height:70px;
margin-left:705px;
margin-top:-90px;
display: block;
}

#brazo{
margin-top:-830px;
height:530px;
width:660px;
border-top-right-radius:85px;
border-bottom-right-radius:85px;
}

#brown{
width:270px;
margin-left:670px;
margin-top:-875px;
}
